body {
  margin: 0;
  background-color: papayawhip;
  color: steelblue;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
}


nav, footer {
  background-color: steelblue;
}

nav {
  height: 75px;
}

nav ul {
  margin: 0;
  padding-left: 0;
  text-align: center;
  line-height: 75px;
}

h1 { font-size: 54px; }
h2 { font-size: 44px; }
h3 { font-size: 34px; }
h4 { font-size: 24px; }
p, li, a { font-size: 18px; }

img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: solid steelblue 12px;;
}

footer {
  margin-top: 20px;
  padding: 40px 0;
  color: white;
}

.navlink {
  display: inline;
  margin: 0 20px;;
}

.navlink a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.card {
  background-color: lightyellow;
  border: 6px solid steelblue;
  margin: 20px 0;
  padding: 20px 40px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.sociallink {
  display: inline;
}

article {
  position: relative;
}

.articleheading {
  display: inline-block;
}

.articledate {
  position: absolute;
  display: inline-block;
  right: 0;
}

#greeting {
  background-color: steelblue;
  display: block;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  border: 5px solid red;
}

#greeting p {
  margin: 0;
  padding: 16px;
  font-size: 25px;
  color: white;
  border: 5px solid yellow;
}
